body{font-family: 'Encode Sans Expanded', sans-serif;
}


div { text-align:center;}

body { background: gray;
       color: darkgray;
       font-size: 14pt; }
img { float; center; }
	

H1 { color: lightblue;
	Text-align: center; }
I { Text-align: ; }

P	{ color: purple;
margin-right: 125px;
margin-left: 125px;
font-size: 50%; }

P1 { Text-align: center; }

